.input {
  background: var(--white);
  border: 1px solid var(--blue);
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  cursor: text;
  height: 50px;
  transition: var(--transition);
  display: flex;
  margin: 0;

  &--error {
    border-color: var(--red);
  }

  &__errors {
    font-size: 0.75rem;
    line-height: 15px;
    color: var(--red);
    display: flex;
    flex-direction: column;
    gap: 5px;

    &--messages {
      color: var(--dark);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 5px;
  }

  &--default &__title {
    font-size: 0.75rem;
    line-height: 15px;
    padding: 5px 12px;
    margin-top: 0;
  }

  &__title {
    font-size: 1rem;
    line-height: 19px;
    padding: 15px 12px;
    color: var(--gray-3);
    text-align: left;
    absolute: top left;
    user-select: none;
    transition: 0.2s;
    box-sizing: border-box;
    width: 100%;
  }

  &__action {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    absolute: right top bottom;
    margin: auto;
    transition: 0.2s;
    z-index: 2;
    display: flex;
    align-items: center;

    &:active, &:focus {
      box-shadow: 0 0 0 2px var(--blue);
      border-radius: 10px;
    }

    .icon {
      transition: 0.2s;
      width: 20px;
      height: 20px;

      svg {
        width: 100%;
        height: 100%;

        path {
          fill: var(--dark);
        }
      }
    }
  }

  &__field {
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    background: none;
    width: 100%;
    height: 100%;
    padding: 20px 12px 5px;
    outline: none;
    font-size: 1rem;
    line-height: 19px;
    color: var(--dark);
    appearance: none;
    resize: vertical;
    z-index: 1;
  }
}

.ipt {
  background: var(--white);
  border: 1px solid var(--gray);
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  cursor: text;
  height: 50px;
  transition: 0.2s;
  display: flex;
  margin: 0;
  padding: 13px;

  &:focus {
    border-color: var(--blue);
  }
}
