//@font-face {
//  font-family: 'TT Hoves';
//  src: url('/static/fonts/TT Hoves/TTHoves-Thin.eot');
//  src: local('TT Hoves Thin'), local('TTHoves-Thin'),
//    url('/static/fonts/TT Hoves/TTHoves-Thin.eot?#iefix') format('embedded-opentype'),
//    url('/static/fonts/TT Hoves/TTHoves-Thin.woff2') format('woff2'),
//    url('/static/fonts/TT Hoves/TTHoves-Thin.woff') format('woff'),
//    url('/static/fonts/TT Hoves/TTHoves-Thin.ttf') format('truetype');
//  font-weight: 100;
//  font-display swap
//  font-style: normal;
//}

@font-face {
  font-family: 'TT Hoves';
  src: url('/static/fonts/TT Hoves/TTHoves-DemiBold.eot');
  src: local('TT Hoves DemiBold'), local('TTHoves-DemiBold'),
    url('/static/fonts/TT Hoves/TTHoves-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/TT Hoves/TTHoves-DemiBold.woff2') format('woff2'),
    url('/static/fonts/TT Hoves/TTHoves-DemiBold.woff') format('woff'),
    url('/static/fonts/TT Hoves/TTHoves-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display swap
  font-style: normal;
}

//@font-face {
//  font-family: 'TT Hoves';
//  src: url('/static/fonts/TT Hoves/TTHoves-Black.eot');
//  src: local('TT Hoves Black'), local('TTHoves-Black'),
//    url('/static/fonts/TT Hoves/TTHoves-Black.eot?#iefix') format('embedded-opentype'),
//    url('/static/fonts/TT Hoves/TTHoves-Black.woff2') format('woff2'),
//    url('/static/fonts/TT Hoves/TTHoves-Black.woff') format('woff'),
//    url('/static/fonts/TT Hoves/TTHoves-Black.ttf') format('truetype');
//  font-weight: 900;
//  font-display swap
//  font-style: normal;
//}

//@font-face {
//  font-family: 'TT Hoves';
//  src: url('/static/fonts/TT Hoves/TTHoves-ExtraLight.eot');
//  src: local('TT Hoves ExtraLight'), local('TTHoves-ExtraLight'),
//    url('/static/fonts/TT Hoves/TTHoves-ExtraLight.eot?#iefix') format('embedded-opentype'),
//    url('/static/fonts/TT Hoves/TTHoves-ExtraLight.woff2') format('woff2'),
//    url('/static/fonts/TT Hoves/TTHoves-ExtraLight.woff') format('woff'),
//    url('/static/fonts/TT Hoves/TTHoves-ExtraLight.ttf') format('truetype');
//  font-weight: 200;
//  font-display swap
//  font-style: normal;
//}

@font-face {
  font-family: 'TT Hoves';
  src: url('/static/fonts/TT Hoves/TTHoves-Bold.eot');
  src: local('TT Hoves Bold'), local('TTHoves-Bold'),
    url('/static/fonts/TT Hoves/TTHoves-Bold.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/TT Hoves/TTHoves-Bold.woff2') format('woff2'),
    url('/static/fonts/TT Hoves/TTHoves-Bold.woff') format('woff'),
    url('/static/fonts/TT Hoves/TTHoves-Bold.ttf') format('truetype');
  font-weight: bold;
  font-display swap
  font-style: normal;
}

//@font-face {
//  font-family: 'TT Hoves';
//  src: url('/static/fonts/TT Hoves/TTHoves-ExtraBold.eot');
//  src: local('TT Hoves ExtraBold'), local('TTHoves-ExtraBold'),
//    url('/static/fonts/TT Hoves/TTHoves-ExtraBold.eot?#iefix') format('embedded-opentype'),
//    url('/static/fonts/TT Hoves/TTHoves-ExtraBold.woff2') format('woff2'),
//    url('/static/fonts/TT Hoves/TTHoves-ExtraBold.woff') format('woff'),
//    url('/static/fonts/TT Hoves/TTHoves-ExtraBold.ttf') format('truetype');
//  font-weight: 800;
//  font-display swap
//  font-style: normal;
//}

@font-face {
  font-family: 'TT Hoves';
  src: url('/static/fonts/TT Hoves/TTHoves-Regular.eot');
  src: local('TT Hoves Regular'), local('TTHoves-Regular'),
    url('/static/fonts/TT Hoves/TTHoves-Regular.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/TT Hoves/TTHoves-Regular.woff2') format('woff2'),
    url('/static/fonts/TT Hoves/TTHoves-Regular.woff') format('woff'),
    url('/static/fonts/TT Hoves/TTHoves-Regular.ttf') format('truetype');
  font-weight: normal;
  font-display swap
  font-style: normal;
}

//
//@font-face {
//  font-family: 'TT Hoves Hairline';
//  src: url('/static/fonts/TT Hoves/TTHoves-Hairline.eot');
//  src: local('TT Hoves Hairline'), local('TTHoves-Hairline'),
//    url('/static/fonts/TT Hoves/TTHoves-Hairline.eot?#iefix') format('embedded-opentype'),
//    url('/static/fonts/TT Hoves/TTHoves-Hairline.woff2') format('woff2'),
//    url('/static/fonts/TT Hoves/TTHoves-Hairline.woff') format('woff'),
//    url('/static/fonts/TT Hoves/TTHoves-Hairline.ttf') format('truetype');
//  font-weight: 100;
//  font-display swap
//  font-style: normal;
//}


//@font-face {
//  font-family: 'TT Hoves';
//  src: url('/static/fonts/TT Hoves/TTHoves-Light.eot');
//  src: local('TT Hoves Light'), local('TTHoves-Light'),
//    url('/static/fonts/TT Hoves/TTHoves-Light.eot?#iefix') format('embedded-opentype'),
//    url('/static/fonts/TT Hoves/TTHoves-Light.woff2') format('woff2'),
//    url('/static/fonts/TT Hoves/TTHoves-Light.woff') format('woff'),
//    url('/static/fonts/TT Hoves/TTHoves-Light.ttf') format('truetype');
//  font-weight: 300;
//  font-display swap
//  font-style: normal;
//}

@font-face {
  font-family: 'TT Hoves';
  src: url('/static/fonts/TT Hoves/TTHoves-Medium.eot');
  src: local('TT Hoves Medium'), local('TTHoves-Medium'),
    url('/static/fonts/TT Hoves/TTHoves-Medium.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/TT Hoves/TTHoves-Medium.woff2') format('woff2'),
    url('/static/fonts/TT Hoves/TTHoves-Medium.woff') format('woff'),
    url('/static/fonts/TT Hoves/TTHoves-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display swap
  font-style: normal;
}

